
{% extends "diary/base.html" %}
{% block content %}
	
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ object.owner }}</a>
              <small class="text-muted">{{ object.date_posted| date:"h:i A, F d, Y" }}</small>
            </div>
            <div>
              <a class="btn btn-secondary" href="{% url 'update' entry.id %}">Edit</a>
              <a class="btn btn-danger" href="{% url 'delete' entry.id %}">Delete</a>
            </div>
            <h2 class="article-title">{{ object.title }}</h2>
            <p class="article-content2">{{ object.content }}</p>
          </div>
        </article>

{% endblock content %}